UDT4/Actividad2/Concesionario/BDConcesionario.dtd

<!DOCTYPE concesionario [
  <!ELEMENT concesionario (Coche+)>
  <!ELEMENT Coche (CodigoCoche, Marca, Modelo, Matricula, Potencia, Plazas, NumeroPuertas)>
  <!ELEMENT CodigoCoche (#PCDATA)>
  <!ELEMENT Marca (#PCDATA)>
  <!ELEMENT Modelo (#PCDATA)>
  <!ELEMENT Matricula (#PCDATA)>
  <!ELEMENT Potencia (#PCDATA)>
  <!ELEMENT Plazas (#PCDATA)>
  <!ELEMENT NumeroPuertas (#PCDATA)>
]>