UDT4/Actividad1/Libreria/BDLibreria.dtd


<!ELEMENT librerias (libro+)>
<!ELEMENT libro (título, autor, editoriales, ISBN, fecha-publicación)>
<!ATTLIST libro id CDATA #REQUIRED>
<!ELEMENT título (#PCDATA)>
<!ELEMENT autor (nombre, apellido)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT editoriales (#PCDATA)>
<!ELEMENT ISBN (#PCDATA)>
<!ELEMENT fecha-publicación (#PCDATA)>